    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <!-- <br></br><br></br><br></br><br></br>
                <br></br><br></br><br></br><br></br> -->
                <div class="col-lg-8 col-lg-offset-2">
                    <br>
                    <p>"Oh Hyang Widhi/Tuhan Yang Maha Esa, Anugerahkanlah kepada pasangan pengantin ini kebahagiaan, keduanya tiada terpisahkan dan panjang umur. Semoga pengantin ini dianugerahkan anak-anak dan cucu-cucu yang memberikan penghiburan, tinggal di rumah yang penuh kegembiraan"</p>
                    <br>
                </div>
            </div>
        </div>
    </section>


    <!-- Download Section -->
<!--     <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <br></br><br></br><br></br><br></br>
                <br></br><br></br><br></br><br></br>
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section> -->