    <!-- Contact Section -->
    <section id="invitation" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-12 col-lg-5 adjusted_img">
                <img src="img/winter_cut.jpg" alt="" title="" width="100%">
                <h2></h2>
            </div>
            <div class="col-xs-12 col-lg-7">
                <p>Atas Asung Kertha Wara Nugraha Ida Sang Hyang Widhi Wasa/ Tuhan Yang Maha Esa, Kami bermaksud menyelenggarakan upacara Manusa Yadnya Pawiwahan (Pernikahan) putra-putri kami</p>
                <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami sekeluarga apabila Bapak/Ibu/Saudara/i berkenan hadir untuk memberikan doa restu pada:</p>
                <hr class="line" style="width: 75%;">
                <h2 style="margin: 0px">Rabu, 8 April 2020</h2>
                <p>Pukul: 13:00 WITA ~ selesai</p>
                <p>Bertempat di <br>
                    Jl. Karya Makmur, Gg. Kelapa Gading, Br. Pemangkalan, <br>
                    Ubung Kaja, Denpasar</p>
                <hr class="line" style="width: 75%;">
                <p>Atas kehadiran dan doa restu Bapak/Ibu/Saudara/i, kami haturkan terima kasih.</p>
                <p>Kami yang berbahagia,</p>
                <div class="column"><p>Kel. I Made Suarta &amp; <br> Ni Luh Putu Sulastri</p></div>
                <div class="column"><p>Kel. I Putu Sukarta (Swargi) &amp; <br> Ni Wayan Somowirati</p></div>
                <p class="handwrite-1">Widhi &amp; Era</p>
            </div>

        </div>
    </section>

    <!-- Contact Section -->
<!--     <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Dolor reprehenderit repellendus, optio labore odio at tempore debitis nisi. Quasi debitis tenetur eaque molestias non porro odio sapiente.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section> -->
