    <!-- Map Section -->
    <section id="access" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
			<h2>AKSES</h2>
		</div>
	</div>
    <div style="overflow: hidden">
		<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1972.3618763327604!2d115.19697708617254!3d-8.622497599744982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23f31b62633bd%3A0x965bd04fbe091f78!2zOMKwMzcnMjAuMCJTIDExNcKwMTEnNTAuMyJF!5e0!3m2!1sen!2sjp!4v1583723576791!5m2!1sen!2sjp" width=100% height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>

	<div class="clearfix">
		<div class="img-container" style="width: 50%">
			<a href="/img/undangan1.jpeg" title="Undangan Cover">
			<img src="/img/undangan1.jpeg" alt="" title="Undangan Cover" style="width:100%" /></a>
	  	</div>		
		<div class="img-container" style="width: 50%">
			<a href="/img/undangan2.jpeg" title="Undangan Isi">
			<img src="/img/undangan2.jpeg" alt="" title="Undangan Isi" style="width:100%" /></a>
	  	</div>		
	</div>	
	</div>
	</section>