    <!-- Map Section -->
    <section id="access" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
			<h2>AKSES</h2>
		</div>
	</div>
    <div style="overflow: hidden">
		<p>Landmark: Rumah Sakit Umum Surya Husada <a href="https://goo.gl/maps/G4kupfExT6mdcfg28">(Google Map Directions)</a></p>
		<p><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1yMb0_M5qWoi_I9_3Q_95xmna-iyx75C4" width=100% height="400px" frameborder="0" style="border:0;"></iframe></p>
	</div>
	</section>
