 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  
                    WE <span class="light"> dding </span>
                </a>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
                </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if page.lang == "id" %}
                    <li><a class="page-scroll" href="#about">Pawiwahan</a></li>
                    <li><a class="page-scroll" href="#announcement">Pesan</a></li>
                    <li><a class="page-scroll" href="#gallery">Galeri</a></li>
                    <li><a class="page-scroll" href="/we_dding/en">en</a></li>
                    {% endif %}

                    {% if page.lang == "en" %}
                    <li><a class="page-scroll" href="#about">Pawiwahan</a></li>
                    <li><a class="page-scroll" href="#announcement">Announcement</a></li>
                    <li><a class="page-scroll" href="#gallery">Gallery</a></li>
                    <li><a class="page-scroll" href="/we_dding/">id</a></li>
                    {% endif %}
                    <!-- <li>
                        <a class="page-scroll" href="#access">Akses</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
